<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Pierwszy projekt springowy</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Lab 06</h1>
        
        <h2>Wpisz swoje imię i wiek:</h2>
        <form action="/hello" method="post">
        Imię: <input type="text" name="imie" />
        Wiek: <input type="number" name="wiek" />
        <input type="submit" value="Wyślij" />
        </form>
        
        <h2>Dodawanie liczb:</h2>
        <form action="/add" method="post">
        <input type="number" name="liczba_add1" />
        <input type="number" name="liczba_add2" />
        <input type="submit" value="Dodaj" />
        </form>
        
        <h2>Kalkulator z listą operacji:</h2>
        <form action="/calculator" method="post">
        <input type="number" name="liczba1" />
        <input type="number" name="liczba2" />
        <select id="opcja" name="opcja">
            <option value="+">Dodawanie</option>
            <option value="-">Odejmowanie</option>
            <option value="*">Mnożenie</option>
        </select>
        <input type="submit" value="Wykonaj działanie" />
        </form>
    </body>
</html>